 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Pontano Sans", Helvetica, Arial, sans-serif;
   color:#545454;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Droid Serif", Georgia, serif;
 }
 h1{
   font-size: 32pt;
   font-weight: normal;
 }
 h2 {
   font-size: 24pt;
   font-weight: normal;
   margin-bottom: 5px;
 }
 h4 {
   font-size: 18pt;
   color: #2196f3;
 }
 p {
   font-size: 12pt;
   line-height: 19px;
   font-weight: 100;
 }
  /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 @media screen and (min-width:320px) and(max-device-width: 480px) {
   .container {
     width: 470px;
   }
   .one-half {
     width:100%;
     float: none;
     text-align: left;
   }
   .hero-image {
      float:none;
      padding:30px;
   }
   .footer {
      display: inline;
      height: 200px;
   }
}   

 @media (min-width: 768px) and (max-device-width: 991px) {
   .container {
     width: 750px;
   }
   

 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) and (max-device-width: 1600px) {
   .container {
     width: 1170px;
   }
 }
@media (min-width: 1600px) {
   .container {
     width: 1570px;
   }
 }

 /* HEADER */
 header {
   color:#FFFFFF;
   background-image: url('../images/hero-bg.png');
   background-repeat: repeat-x;
   height: 580px;
 }
 header nav {
   padding:1em 0;

 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 header .hero {
   text-align: left;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size: 32pt;
   font-weight: normal;

 }
 header .hero p {
   font-size: 16pt;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 .hero-image {
   float: right;
}
 .hero-description-container {
   display: inline-block;
   vertical-align: top;
   margin:0 2% 0px;
 }


 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   display: inline-block;
   text-decoration: none;
   padding:10px 40px;
   background: #00E676;
   border: 2px solid #00E676;
   box-shadow: 0px 2px 0px 0px #22894E;
 }
 .demo-btn {
   margin-top: 7px;
 }
 .demo {
   color:E4F1FB;
   font-weight: 700;
   text-decoration: none;
   padding: 30px 10px;
   border: none;
 }
.demo-text {
   vertical-align: center;
}

 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#2196f3;
 }
 .testimonials ul li {
   list-style-type: none;
 }

/* BENEFITS */
.features { 
   display: inline-block;
   vertical-align: top;
   margin: 0px;

}
.benefits {
   display:block;
   position: relative;
}
.benefits-img{
   float:right;
}
td {
   vertical-align: top;
   padding-top: 0px;
   padding-right: 10px;

}
td h2{
   margin-top: 0px;
   padding-top: 0px;
}
table {
   margin: 0px;
   padding: 0px;
}

 /* PRICING */
.pricing {
   padding: 4em 0;
   text-align: center;
}
.pricing h2 {
   color: #2196f3;
}
.pricing h3 {
   color: #ffffff;
   font-weight: normal;
   font-size: 24pt;
   margin-bottom: -10px;
}
.pricing p {
   padding-bottom: 10px;
}
.pricing ul {
  margin:0 auto;
  padding:0.5em 0;
}
.pricing ul li {
  list-style-type: none;
  padding-bottom: 12px;
  padding-top: 12px;
}
.pricing a {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   display: inline-block;
   text-decoration: none;
   padding:10px 40px;
   background: #0d47a1;
   border: 2px solid #0d47a1;
   margin-bottom: 30px;
   margin-top: -20px;
}
#free-plan-btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   display: inline-block;
   text-decoration: none;
   padding:10px 40px;
   background: #2196f3;
   border: 2px solid #2196f3;
   margin-bottom: 30px;
   margin-top: -20px;
}
.box-left {
   border-radius: 4px;
   color:#ffffff;
   font-weight: 500;
   display: inline-block;
   text-decoration: none;
   padding:5px 30px;
   background: #0d47a1;
}
.box-middle {
   border-radius: 4px;
   color:#ffffff;
   font-weight: 500;
   display: inline-block;
   text-decoration: none;
   padding:5px 30px;
   background: #2196f3;
}
.box-right {
   border-radius: 4px;
   color:#ffffff;
   font-weight: 500;
   display: inline-block;
   text-decoration: none;
   padding:5px 30px;
   background: #00E676;
}
.rule {
   width: 100%;
   border-bottom: solid 1px;
   color: #ffffff;
}

 /* QUESTIONS */
.questions {
   padding: 4em 0;
   text-align: center;
}
.questions h2 {
   color: #2196f3;
}

 /* FOOTER */
 footer {
   background-color: #2196f3;
   color: #FFFFFF;
   height: 75px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   vertical-align: center;
 }
 footer p{
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
   vertical-align: center;
   display: block;
   margin-top:20px;

 }

 footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
   vertical-align: center;
   display: block;
   margin-top:13px;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline-block;
   padding: 5px;
   vertical-align: center;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
   vertical-align: center;
 }

 footer .copyright-block{
   display: inline-block;
   vertical-align: center;
 }
 footer .footer-nav-block{
   vertical-align: center;
 }
@media (min-width: 992px){
   footer{
     background-color: #2196f3;
     height: 75px;
   }

